 @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lugrasimo&family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quintessential&family=Space+Grotesk:wght@300..700&display=swap');

 body {
     background-image: url(../images/sky1.jpg);
     background-size: cover;
     margin: 0px;
 }

 .header {
     display: flex;
     justify-content: space-between;
     padding: 10px 30px;
     background-color: #1F2544;
 }

 .social {
     display: flex;
     gap: 20px;
     margin-top: 5px;
 }

 .content {
     max-width: 1280px;
     justify-content: center;
     margin: 80px auto 20px auto;
 }

 .intro {
     text-align: center;
     color: #F4EEFF;
 }

 .portrait img {
     border-radius: 50%;
     width: 150px;
     height: 150px;
     object-fit: cover;
     display: block;
     margin: auto;
 }

 .intro h1 {
     font-family: 'pt serif', serif;
     font-size: 32px;
     margin-bottom: 10px;
 }

 .intro h2 {
     font-family: 'pt serif', serif;
     font-size: 24px;
     margin-top: 0px;
     margin-bottom: 30px;
 }

 .intro p {
     font-family: 'pt serif', serif;
     width: 70%;
     margin: auto;
 }

 .exercises {
     margin-top: 60px;
 }

 .r1,
 .r2,
 .r3 {
     display: flex;
     gap: 30px;
     justify-content: center;
     margin-bottom: 50px;
 }

 .work {
     width: 30%;
     background-color: #8FABD4;
     opacity: 0.7;
     border-radius: 15px;
     padding: 15px 0px 15px 0px;
 }

 .week {
     width: 80%;
     display: flex;
     justify-content: center;
     margin: auto;
     border-bottom: 1px solid #070F2B;
     gap: 15px;
     align-items: center;
 }

 .exe {
     padding-top: 15px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
 }

 .exe a {
     text-decoration: none;
     color: #070F2B;
     padding-bottom: 15px;
 }

 .footer {
     align-items: center;
     margin-top: 20px;
     padding: 10px 0px 40px 0px;
     background-color: #1F2544;
 }

 .media {
     display: flex;
     gap: 25px;
     margin: 20px auto;
     justify-content: center;
 }

 .footer p {
     text-align: center;
     margin: auto;
     justify-content: center;
     color: #C8ACD6;
 }

 @media screen and (max-width: 1080px) {
     .content {
         max-width: 80%;
     }

     .intro p {
         width: 90%;
     }

     .exercises {
         margin-top: 60px;
     }

     .r1,
     .r2,
     .r3 {
         display: flex;
         flex-wrap: wrap;
         gap: 30px;
         justify-content: center;
         margin-bottom: 50px;
     }

     .work {
         width: 90%;
     }
 }

 @media screen and (max-width: 600px) {
     .portrait img {
         width: 100px;
         height: 100px;
     }

     .content {
         max-width: 90%;
     }

     .intro p {
         width: 90%;
     }

     .work {
         width: 90%;
     }

 }