.container {
    max-width: 1280px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    width: 160px;
    z-index: 1;
    background-color: #F3F3F3;
}

.submenu div:hover a {
    background-color: #B9FF66;
}

.submenu a {
    display: block;
    padding: 5px;
}

.request {
    border: 1px black solid;
    border-radius: 8px;
    padding: 20px 35px;
}

.mobile {
    display: none;
}

.banner2 {
    display: none;
}

.banner div {
    width: 50%;
}

.banner {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

.banner h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 60px;
}

.banner p {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

@media screen and (max-width: 1080px) {
    .logo img {
        width: 180px;
    }

    .menu {
        gap: 10px;
    }

    .menu a {
        font-size: 18px;
    }

    .menu>div:nth-child(4) .submenu,
    .menu>div:nth-child(5) .submenu {
        position: absolute;
        right: 20px;
        display: none;
    }

    .menu>div:nth-child(4):hover .submenu,
    .menu>div:nth-child(5):hover .submenu {
        display: block;
    }

    .request {
        display: none;
    }

    .banner {
        justify-content: center;
        margin-top: 50px;
        padding: 30px 0px;
    }

    .banner div {
        width: 80%;
    }

    .banner1 {
        display: none;
    }

    .banner2 {
        display: block;
        width: 100%;
        margin: auto;
    }


    .banner h1 {
        margin-top: 0px;
        font-size: 48px;
        padding-right: 80px;
    }

    .banner p {
        font-size: 20px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 600px) {
    .menu {
        display: none;
    }

    .mobile {
        display: block;
    }

    .banner {
        margin-top: 40px;
        align-items: center;
    }

    .banner div {
        width: 90%;
    }

    .banner1 {
        display: none;
    }

    .banner h1 {
        font-size: 48px;
        padding-right: 80px;
    }

    .banner p {
        font-size: 18px;
        padding-right: 70px;
    }
}