body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: lavender;
    width: 40%;
    border-radius: 8px;
    padding: 5px 20px 20px 20px;
}

.h1 {
    margin-top: 0px;
}

.form {
    font-size: 18px;
    width: 95%;
    justify-content: space-between;
    margin: auto;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.info input,
.link input {
    border-radius: 10px;
    padding: 8px;
}

.info div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 40%;
}

.link div {
    row-gap: 5px;
}

.color {
    font-size: 16px;
}

.color p {
    font-size: 20px;
    margin-bottom: 8px;
}

.bio p {
    margin-bottom: 5px;
}

.bio textarea {
    width: 100%;
    margin-bottom: 20px;
}