.container {
    max-width: 1280px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    font-weight: 400;
}


.request {
    border: 1px black solid;
    border-radius: 8px;
    padding: 20px 35px;
}