.banner {
    gap: 90px;
}

.banner h1 {
    padding-right: 100px;
}

.banner p {
    margin-top: 0px;
    padding-right: 125px;
}

.banner button {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 20px 35px;
    border-radius: 14px;
    margin-top: 20px;
}

.company {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
    filter: grayscale(100%);
}

@media screen and (max-width: 1080px) {
    .logo img {
        width: 180px;
    }

    .menu {
        gap: 20px;
    }

    .menu a {
        font-size: 18px;
    }

    .request {
        display: none;
    }

    .banner {
        justify-content: center;
        margin-top: 50px;
        padding: 30px 0px;
    }

    .banner div {
        width: 80%;
    }

    .banner1 {
        display: none;
    }

    .banner2 {
        display: block;
        width: 100%;
        margin: auto;
    }

    .banner h1 {
        margin-top: 0px;
        font-size: 48px;
        padding-right: 80px;
    }

    .banner p {
        font-size: 20px;
        padding-right: 0px;
    }

    .banner button {
        width: 80%;
    }

    .company {
        margin-top: 30px;
        align-content: center;
    }
}

@media screen and (max-width: 600px) {
    .menu {
        display: none;
    }

    .mobile {
        display: block;
    }

    .banner {
        padding-top: 0px;
        margin-top: 40px;
        align-items: center;
    }

    .banner div {
        width: 90%;
    }

    .banner1 {
        display: none;
    }

    .banner h1 {
        font-size: 48px;
        padding-right: 80px;
    }

    .banner p {
        font-size: 18px;
        padding-right: 70px;
    }

    .banner button {
        width: 100%;
    }

}