.mobile {
    display: none;
}

.case {
    background-color: #B9FF66;
    padding: 7px 10px;
    border-radius: 8px;
}

.banner {
    display: flex;
    gap: 70px;
    background-color: #F3F3F3;
    border-radius: 40px;
    padding: 50px 0px;
}

.banner1 {
    margin-left: 90px;
}

.intro {
    margin-left: 60px;
}

.banner h1 {
    margin-top: 30px;
}

.banner p {
    padding-right: 120px;
    margin-top: 20px;
}

.feature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-bottom: 50px;
    justify-content: space-between;
    background-color: #191A23;
    border-radius: 40px;
    color: #FFFFFF;
    padding: 60px 0px;
    gap: 20px;
}

.feature div {
    width: 40%;
}

.story div {
    width: 40%;
}

.f2 {
    display: none;
}

.story h2 {
    background-color: #B9FF66;
    border-radius: 7px;
    color: black;
    margin-top: 0px;
    margin-right: 70px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 40px;
    padding: 0px 4px;
}

.story h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 30px;
    padding-right: 120px;
}

.story p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-right: 20px;
}

.story {
    margin-left: 60px;
}

.read {
    display: flex;
    gap: 18px;
    align-items: center;
}

.read p {
    color: #B9FF66;
}

.read2 {
    display: none;
}

.count {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 25px;
    margin-right: 25px;
}

.count div {
    width: 40%;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: black;
    margin: 0px;
}

.count h1 {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 20px 0 10px 0;
    margin-bottom: 0px;
}

.count p {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: auto;
    padding-bottom: 30px;
}

.b1 p,
.b2 p,
.b3 p {
    width: 60%;
}

.b4 p {
    width: 80%;
}

@media screen and (max-width: 1080px) {
    .logo img {
        width: 180px;
    }

    .menu {
        gap: 20px;
    }

    .menu a {
        font-size: 18px;
    }

    .request {
        display: none;
    }

    .banner {
        justify-content: center;
        margin-top: 50px;
        padding: 30px 0px;
    }

    .banner div {
        width: 80%;
    }

    .banner1 {
        display: none;
    }

    .banner2 {
        display: block;
        width: 100%;
    }

    .banner h1 {
        margin-top: 0px;
        font-size: 48px;
        padding-right: 80px;
    }

    .banner p {
        font-size: 20px;
        padding-right: 0px;
    }

    .intro {
        justify-content: center;
        margin-left: 0px;
    }

    .feature {
        flex-direction: row;
        gap: 0px;
        margin-top: 20px;
    }

    .feature div {
        width: 70%;
    }

    .story h2 {
        width: 60%;
    }

    .story h3 {
        font-size: 30px;
        margin-top: 0px;
        width: 130%;
    }

    .story p {
        font-size: 18px;
        width: 120%;
    }

    .count {
        display: flex;
        margin-left: 130px;
    }

    .count div {
        width: 40%;
        justify-content: center;
    }

    .read {
        display: none;
    }

    .read2 {
        margin-top: 20px;
        display: flex;
        gap: 18px;
        align-items: center;
        margin-left: 70px;
    }

    .read2 p {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #B9FF66;
        margin: 0px;
    }
}

@media screen and (max-width: 600px) {
    .menu {
        display: none;
    }

    .banner {
        padding-top: 0px;
        margin-top: 40px;
        flex-direction: column-reverse;
        align-items: center;
        background-color: #FFFFFF;
    }

    .mobile {
        display: block;
    }

    .banner div {
        width: 90%;
    }

    .banner1 {
        display: none;
    }

    .banner2 img {
        width: 90%;
    }

    .banner h1 {
        font-size: 48px;
        padding-right: 80px;
    }

    .banner p {
        font-size: 18px;
        padding-right: 70px;
    }

    .feature {
        flex-direction: row;
        gap: 0px;
        margin-top: 20px;
    }

    .f2 {
        display: flex;
        gap: 30px;
        margin-left: 40px;
    }

    .f2 h2 {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 500;
        font-size: 30px;
        color: #B9FF66;
        margin-top: 0px;
    }

    .story h2 {
        display: none;
    }

    .story h3 {
        font-size: 30px;
        margin-left: 55px;
        margin-top: 0px;
        width: 95%;
    }

    .story p {
        font-size: 18px;
        margin-left: 55px;
        width: 80%;
    }

    .count {
        flex-direction: column;
        margin-left: 115px;
    }

    .count div {
        width: 100%;
    }

    .b3 p {
        width: 50%;
    }

    .b4 p {
        width: 50%;
    }

    .read {
        display: none;
    }

    .read2 {
        margin-top: 20px;
        display: flex;
        gap: 18px;
        align-items: center;
        margin-left: 120px;
    }

    .read2 p {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #B9FF66;
        margin: 0px;
    }
}