.banner {
    background-image: url(../image/aboutusbanner.jpg);
    background-size: cover;
    background-position: center;
}

.title h1 {
    margin: 0px;
    padding: 0px;
}

.subhead {
    display: flex;
    padding-top: 80px;
    padding-bottom: 85px;
    padding-left: 50px;
    padding-right: 115px;
    gap: 20px;
}

.subhead img {
    width: 612px;
    height: 408px;
    max-width: 100%;
    max-height: 100%;
}

.subhead p {
    color: var(--coral);
}

.subhead p.normalregular {
    color: var(--darkblue);
}

.subtext {
    padding-top: 112px;
    padding-bottom: 70px;
    line-height: 150%;
}

.ours {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 110px;
}

.ours .purpose {
    background-image: url(../image/aboutuspurpose.png);
    background-size: cover;
    width: 365px;
    height: 243px;
    border-radius: 20px;
}

.ours .service {
    background-image: url(../image/aboutusservice.png);
    background-size: cover;
    width: 365px;
    height: 243px;
    border-radius: 20px;
}

.ours .exp {
    background-image: url(../image/aboutusexp.png);
    background-size: cover;
    width: 365px;
    height: 243px;
    border-radius: 20px;
}

.ours h3 {
    padding-top: 94.5px;
    padding-bottom: 94.5px;
    text-align: center;
    color: var(--text-light);
}

.subhead2 {
    display: flex;
    padding-bottom: 175px;
    padding-left: 120px;
}

.subhead2 img {
    width: 748px;
    height: 499px;
    max-width: 100%;
    max-height: 100%;
}

.subhead2 p.normalbold {
    color: var(--coral);
}

.subhead2 p.largeregular {
    color: var(--darkblue);
}

.subtext2 {
    max-width: 585px;
    line-height: 150%;
    padding-bottom: 50px;
}

.ourteam {
    text-align: center;
    padding-bottom: 44px;
}

.ourteam p.normalbold {
    color: var(--coral)
}

.ourteam h2 {
    color: var(--darkblue);
}

.ourteam p.largeregular {
    color: var(--darkblue);
}

.teams {
    display: flex;
    justify-content: center;
    gap: 29px;
    padding-left: 57px;
    padding-right: 57px;
}

.teams .portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams img {
    width: 90%;
    border-radius: 20px;
}

.teams p.normalbold {
    color: var(--coral);

}

.teams .infojn,
.infoyh,
.infobl,
.infomq {
    position: relative;
    bottom: 80px;
    background-color: var(--bg-light);
    text-align: center;
    width: 80%;
    padding: 10px 40px 30px 40px;
    border-radius: 5px;
    border: 2px solid var(--darkblue);
}

.maptext {
    background-image: url(../image/aboutusmap.png);
    width: 100%;
    height: 714px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 440px;
}

.map p.normalbold {
    color: var(--coral);
}

.map .review h3 {
    color: var(--coral);
}

.map .review {
    position: absolute;
    background-color: var(--bg-light);
    left: 50%;
    transform: translateX(-50%);
    top: 31%;
    text-align: center;
    width: 954px;
    max-width: 90%;
    padding: 54px 20px 45px 20px;
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.5);
}

.teamportrait {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0 auto;
}

@media screen and (max-width: 1080px) {
    .subhead {
        flex-direction: column;
        align-items: center;
        padding-right: 50px;
    }

    .subhead2 {
        flex-direction: column;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .teams {
        flex-direction: column;
        align-items: center;
    }

    .teamportrait {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 786px) {
    .ours {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .subhead {
        padding-bottom: 10px;
    }

    .ours {
        padding-bottom: 50px;
    }

    .subhead2 {
        padding-bottom: 50px;
    }

    .subhead img {
        width: 100%;
        height: auto;
    }

    .subhead2 img {
        width: 100%;
        height: auto;
    }

    .ourteamtext {
        padding-left: 50px;
        padding-right: 50px;
    }

    .teamportrait {
        grid-template-columns: 1fr;
    }
}