        .hero {
            background-image: url(../image/petinfo1.png);
            background-size: cover;
            background-position: center;
        }

        body {
            background: #FFF9F3;
        }



        .hero h1 {
            color: var(--bg-light);
        }

        .blog-section {
            max-width: 1280px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 80px auto;
        }

        .blog-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 40px;
            width: 50%;

        }

        .vector-divider {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 40px 0;
        }

        .vector-divider img {
            width: 80%;
            max-width: 900px;
            height: auto;
        }

        .photo {
            width: 565px;
            height: 645px;
            background: #FFFFFF;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 30px;
            padding: 18px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .photo img {
            width: 100%;
            border-radius: 20px;
            width: 500px;
            height: 334px;
            object-fit: cover;
            margin: 15px auto;
        }

        .photo h3 {
            margin-top: 15px;
            margin-left: 15px;
        }

        .photo p.largemedium {
            text-decoration: none;
            margin-left: 15px;
            margin-top: 30px;
        }

        .card {
            width: 565px;
            height: 645px;
            background: #FFFFFF;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 30px;
            padding: 18px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .card img {
            width: 100%;
            border-radius: 20px;
            width: 500px;
            height: 334px;
            object-fit: cover;
            margin: 15px auto;
        }

        .card h3 {
            margin-top: 15px;
            margin-left: 15px;
        }

        .card p.largemedium {
            text-decoration: none;
            margin-left: 24px;
            margin-top: 30px;
        }

        .vector-divider {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            margin: 0 0 20px 0;
            padding-left: 30px;
        }

        .vector-divider img {
            width: 100%;
            max-width: 1280px;
            height: auto;
        }



        @media screen and (max-width: 786px) {
            .hero {
                height: 50vh;
            }

            .hero h1 {
                font-size: 36px;
            }

            .blog-grid {
                grid-template-columns: fr;
                gap: 20px;
                width: 95%;
                margin: 0 auto;
            }

            .photo,
            .card {
                width: 465px;
                height: 545px;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 15px;
                padding: 10px;
                border-radius: 15px;
                align-items: flex-start;
                margin-left: 15px;
            }


            .photo img,
            .card img {
                width: 400px;
                height: 234px;
            }
        }

        @media screen and (max-width: 500px) {
            .hero {
                height: 35vh;
            }

            .hero h1 {
                font-size: 24px;
            }

            .blog-grid {
                grid-template-columns: 1fr;
                gap: 20px;
                width: 95%;
                margin: 0 auto;
            }

            .photo,
            .card {
                width: 435px;
                height: 400px;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 15px;
                padding: 10px;
                border-radius: 15px;
                align-items: flex-start;
                margin-left: 15px;
            }

            .photo img,
            .card img {
                width: 90%;
                height: 180px;
                object-fit: cover;
                align-self: center;
            }


            .card h3 {
                font-size: 30px;
                margin-left: 15px;
            }


            .photo h3 {
                font-size: 30px;
                margin-left: 15px;
            }

            .card p.largemedium,
            .photo p.largemedium {
                font-size: 12px;
                margin-top: 10px;
                margin-left: 15px;
            }
        }