.banner {
    background-image: url(../image/petinfo1.jpg);
    background-size: cover;
    background-position: center;
}

.blog-grid {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-top: 113px;
    padding-bottom: 50px;
    margin-left: 100px;
}

.blog-grid {
    margin-right: 100px;
}

.card {
    background: var(--text-light);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
}

.card img {
    align-items: center;
    width: 500px;
    height: 333px;
    border-radius: 20px;
}

.card h3 {
    min-height: 26px;
}

.card h3 {
    margin-top: 26px;
    margin-left: 26px;
}

a.lbtnlink {
    margin-top: 26px;
    margin-left: 26px;

}

@media screen and (max-width: 786px) {
    .hero {
        height: 50vh;
    }

    .photo,
    .card {
        width: 465px;
        height: 545px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        padding: 10px;
        border-radius: 15px;
        align-items: flex-start;
        margin-left: 15px;
    }


    .photo img,
    .card img {
        align-items: center;
        width: 400px;
        height: 234px;
    }
}

@media screen and (max-width: 786px) {

    .blog-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 95%;
        margin: 0 auto;
    }

    .photo,
    .card {
        align-items: center;
        width: 465px;
        height: 545px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        padding: 10px;
        border-radius: 15px;
        align-items: flex-start;
        margin-left: 15px;
    }


    .photo img,
    .card img {
        width: 400px;
        height: 234px;
    }
}

@media screen and (max-width: 500px) {

    .blog-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 95%;
        margin: 0 auto;
    }

    .photo,
    .card {
        align-items: center;
        width: 435px;
        height: 400px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        padding: 10px;
        border-radius: 15px;
        align-items: flex-start;
        margin-left: 15px;
    }

    .photo img,
    .card img {
        width: 90%;
        height: 180px;
        object-fit: cover;
        align-self: center;
    }


    .card h3 {
        font-size: 30px;
        margin-left: 15px;
    }


    .photo h3 {
        font-size: 30px;
        margin-left: 15px;
    }

    .card p.largemedium,
    .photo p.largemedium {
        font-size: 12px;
        margin-top: 10px;
        margin-left: 15px;
    }
}