.banner {
    background-image: url(../image/petinfo1.png);
    background-size: cover;
    background-position: center;
}

.hero h1 {
    color: var(--bg-light);
}


.blog-grid {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 80px auto;
}

.card {
    background-color: var(--text-light);
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 50px;
    margin: 15px;
}

.card div {
    padding: 15px;
    width: 50%;
    margin: auto;
    margin: 0px;
    border-radius: 20px;
}

.card img {
    width: 100%;
    border-radius: 20px;
}

.card h3 {
    margin-top: 15px;
    margin-left: 15px;
}

.card p.largemedium {
    text-decoration: none;
    margin-left: 24px;
    margin-top: 30px;
}

@media screen and (max-width: 786px) {
    .hero {
        height: 50vh;
    }

    .hero h1 {
        font-size: 36px;
    }

    .blog-grid {
        grid-template-columns: fr;
        gap: 20px;
        width: 95%;
        margin: 0 auto;
    }

    .photo,
    .card {
        width: 465px;
        height: 545px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        padding: 10px;
        border-radius: 15px;
        align-items: flex-start;
        margin-left: 15px;
    }


    .photo img,
    .card img {
        width: 400px;
        height: 234px;
    }
}

@media screen and (max-width: 500px) {
    .hero {
        height: 35vh;
    }

    .hero h1 {
        font-size: 24px;
    }

    .blog-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 95%;
        margin: 0 auto;
    }

    .photo,
    .card {
        width: 435px;
        height: 400px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        padding: 10px;
        border-radius: 15px;
        align-items: flex-start;
        margin-left: 15px;
    }

    .photo img,
    .card img {
        width: 90%;
        height: 180px;
        object-fit: cover;
        align-self: center;
    }


    .card h3 {
        font-size: 30px;
        margin-left: 15px;
    }


    .photo h3 {
        font-size: 30px;
        margin-left: 15px;
    }

    .card p.largemedium,
    .photo p.largemedium {
        font-size: 12px;
        margin-top: 10px;
        margin-left: 15px;
    }
}