.banner {
    background-image: url(../image/petinfo1.jpg);
    background-size: cover;
    background-position: center;
}

.blog-grid {
    max-width: 1380px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    background: var(--text-light);
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 30px;
    margin: 30px;
}

.card div {
    padding: 15px;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
}

.card img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 520px;
    max-height: 330px;
}

.card h3 {
    margin: 15px 0 0;
    margin-left: 28px;
}

.card cardhead {
    min-height: 20px;

}

.card h3 {
    min-height: 35px;

}


.card p.largemedium {
    color: var(--coral);
    margin-left: 28px;
}



@media screen and (max-width:1080px) {
    .blog-grid {
        max-width: 1280px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .card img {
        width: 100%;
        height: 300px;
    }

    .card h3 {
        font-size: 30px;
        margin-left: -0px;
        min-height: 35px;
    }

    .card p.largemedium {
        font-size: 16px;
        margin-left: -0px;
    }
}



@media screen and (max-width: 786px) {

    .blog-grid {
        max-width: 1080px;
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        gap: 16px;
    }

    .card {
        background: var(--text-light);
        border-radius: 20px;
        padding: 20px;
    }

    .card div {
        padding: 10px;
        width: 50%;
        border-radius: 15px;
    }

    .card img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    .card h3 {
        font-size: 30px;
        margin-left: 25px;
        min-height: 35px;
    }

    .card a {
        color: var(--coral);
    }

    .card a:hover {
        color: var(--darkbluel);

    }

    .card p.largemedium {
        font-size: 14px;
        margin-left: 25px;
    }

    .h3 {
        min-height: 20px;

    }

}




@media screen and (max-width: 500px) {

    .blog-grid {
        display: flex;
        flex-direction: column;
        padding: 0 12px;
        gap: 16px;
    }

    .card {
        padding: 16px;
    }

    .card {
        background: var(--text-light);
        border-radius: 20px;
        padding-bottom: 20px;
        margin: 20px;
    }

    .card h3 {
        font-size: 24px;
        margin-left: -0px;
    }

    .card p.largemedium {
        font-size: 12px;
        margin-left: -0px;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .h3 {
        min-height: 15px;
    }
}