body {
    margin: 0px;
}

/* colors*/
.white {
    color: #ffffff;
}

.yellow {
    color: #FFF9F3;
}

.coral {
    color: #FF6F61;
}

.lightblue {
    color: #C2E2FA;
}

.darkblue {
    color: #151B2B;
}

.gray {
    color: #616161;
}

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Lugrasimo&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quintessential&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Lugrasimo&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quintessential&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1 {
    font-family: 'Amiri', serif;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.5;
}

.h2 {
    font-family: 'Amiri', serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
}

.h3 {
    font-family: 'Amiri', serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
}

.h4 {
    font-family: 'Amiri', serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
}

.h5 {
    font-family: 'Amiri', serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
}

.largemedium {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
}

.normalregular {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
}

.normalbold {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.smallregular {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.smallbold {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
}

.smallregular {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
}

/*buttons*/
.small {
    color: #616161;
    background-color: #C2E2FA;
    padding: 8px 15px;
    font-family: 'Amiri', serif;
    font-size: 12px;
    font-weight: bold;
    border: none;
    text-align: center;
    border-radius: 3px;
}

.medium {
    color: #ffffff;
    background-color: #FF6F61;
    padding: 10px 17px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    text-align: center;
    border-radius: 3px;
}

.large {
    color: #ffffff;
    background-color: #FF6F61;
    padding: 19px 60px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    text-align: center;
    border-radius: 10px;
}

/*icons size*/
.smallicon {
    width: 25px;
    height: 25px;
}

.mediumicon {
    width: 30px;
    height: 30px;
}

.largeicon {
    width: 35px;
    height: 35px;
}

/*header*/
.header {
    background-color: #FFF9F3;
    color: #151B2B;

}

.headerinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1280px;
}

.logo img {
    width: 80px;
    height: 80px;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu-toggle {
    font-size: 30px;
    display: none;
    cursor: pointer;
    z-index: 1001;
}

.menu a {
    text-decoration: none;
    padding-right: 8px;
}

.menu-item {
    padding-left: 10px;
    padding-right: 10px;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    width: 160px;
    z-index: 1;
    background-color: #FFF9F3;
}

.submenu div:hover a {
    background-color: #FF6F61;
}

.submenu a {
    display: block;
    padding: 5px;
}

/*banner*/
.banner {
    width: 100%;
    height: 70vh;
}


/*footer*/
.footer {
    background-color: #151B2B;
    color: #ffffff;
    padding-top: 40px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerinfo {
    display: flex;
    align-items: center;
}

.footerlogo {
    margin-left: 65px;
    margin-right: 70px;
}

.footerlogomobile {
    display: none;
}

.footerlogo img {
    width: 240px;
    height: 240px;
}

.navigation {
    display: flex;
    gap: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-menu div {
    padding-bottom: 10px;
}

.footer-menu a {
    color: #ffffff;
    text-decoration: none;
}

.footer-menu :hover {
    color: #FF6F61;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    margin-bottom: 15px;
}

.contact-info h5 {
    margin-bottom: 15px;
}

.info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0px;
    width: 280px;
}

.social {
    display: flex;
    gap: 15px;
    padding-left: 15px;
    margin-top: 15px;
}

.copyright {
    display: flex;
    justify-content: center;
    margin: auto;
    border-top: 1px solid #ffffff;
    padding: 15px 0px;
    margin-top: 40px;
}

@media screen and (max-width: 1080px) {

    /*banner*/
    .banner {
        width: 100%;
        height: 90vh;
    }

    /*footer*/
    .footerlogo {
        margin-left: 50px;
        margin-right: 50px;
    }

    .footerlogo img {
        width: 190px;
        height: 190px;
    }

    .contact-info {
        margin-right: 40px;
        margin-bottom: 20px;
    }

    .info {
        gap: 15px;
        margin: 0px;
        width: 280px;
    }

    .copyright {
        padding: px 300px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 786px) {

    /*header*/
    .headerinfo {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;

    }

    .menu-toggle {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: #FFF9F3;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 90%;
        padding-top: 5rem;
        text-align: center;
        z-index: 1000;
    }

    .menu a {
        color: #151B2B;
    }

    .submenu a {
        color: #151B2B;
    }

    .menu.active {
        display: flex;
    }

    .menu-item {
        margin: 1.5rem 0;
    }

    .menu-item a {
        font-size: 1.5rem;
    }

    /*footer*/
    .footerlogo {
        display: none;
    }

    .footerinfo {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        flex-direction: column;
        align-items: center;
    }

    .navigation {
        display: flex;
        gap: 35px;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 25px;
    }

    .footer-menu div {
        padding-bottom: 10px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        margin-bottom: 15px;
    }

    .info {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 0px;
        width: 240px;
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding: 20px 30px 0px 30px;
    }

    .footerlogomobile {
        display: block;
    }

    .footerlogomobile img {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {

    /*banner*/
    .banner {
        width: 100%;
        height: 20vh;
    }

    /*footer*/
    .footerinfo {
        padding-left: 10px;
        padding-right: 20px;
    }

    .contact-info {
        margin-right: 20px;
        margin-bottom: 15px;
    }

    .info {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 0px;
        width: 200px;
    }
}