/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Lugrasimo&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quintessential&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Lugrasimo&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quintessential&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === ROOT VARIABLES === */
:root {
    --coral: #FF6F61;
    --lightblue: #C2E2FA;
    --darkblue: #151B2B;
    --gray: #616161;
    --text-dark: #151B2B;
    --text-light: #FFFFFF;
    --bg-light: #FFF9F3;
    --radius: 10px;
    --font-heading: 'Amiri', serif;
    --font-base: 'Nunito Sans', sans-serif;
}

body {
    background-color: var(--bg-light);
}

/*headings*/
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-heading);
    font-weight: bold;
    line-height: 1.5;
}

/*h1 is used at banner except index page*/
h1 {
    font-size: 60px;
    color: var(--text-light);
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 24px;
}

p {
    font-family: var(--font-base);
    line-height: 1.5;
}

p.largemedium {
    font-size: 22px;
    font-weight: 500;
}

p.largeregular {
    font-size: 18px;
    font-weight: normal;
}

p.normalbold {
    font-size: 16px;
    font-weight: bold;
}

p.normalregular {
    font-size: 16px;
    font-weight: normal;
}

p.smallbold {
    font-size: 14px;
    font-weight: bold;
}

p.smallregular {
    font-size: 14px;
    font-weight: normal;
}

p.extrasmall {
    font-size: 12px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

/*buttons*/
.smallbtn {
    color: var(--gray);
    background-color: var(--lightblue);
    padding: 8px 15px;
    font-family: var(--font-base);
    font-size: 12px;
    font-weight: bold;
    border: none;
    text-align: center;
    border-radius: 3px;
}

.mediumbtn {
    color: var(--text-light);
    background-color: var(--coral);
    padding: 10px 17px;
    font-family: var(--font-base);
    font-size: 16px;
    font-weight: 500;
    border: none;
    text-align: center;
    border-radius: 3px;
}

.mediumbtn:hover {
    background-color: var(--darkblue);
    border: none;
    color: var(--text-light);
}

.largebtn {
    color: var(--text-light);
    background-color: var(--coral);
    padding: 19px 60px;
    font-family: var(--font-base);
    font-size: 16px;
    font-weight: 500;
    border: none;
    text-align: center;
    border-radius: 10px;
}

.largebtn:hover {
    background-color: none;
    border: 1px solid var(--coral);
    color: var(--darkblue);
}

/*icons size*/
.smallicon {
    width: 25px;
    height: 25px;
}

.mediumicon {
    width: 30px;
    height: 30px;
}

.largeicon {
    width: 35px;
    height: 35px;
}

/*input*/
input,
textarea {
    padding: 10px 18px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
}

/*header*/
.header {
    background-color: var(--bg-light);
    color: var(--text-dark);

}

.headerinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1280px;
}

.logo img {
    width: 80px;
    height: 80px;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu-toggle {
    font-size: 30px;
    display: none;
    cursor: pointer;
    z-index: 1001;
}

.menu a {
    font-family: var(--font-heading);
    font-size: 24px;
    font-weight: bold;
    color: var(--text-dark);
    padding-right: 8px;
}

.menu-item {
    padding-left: 10px;
    padding-right: 10px;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    width: 160px;
    z-index: 1;
    background-color: var(--bg-light);
}

.submenu div:hover a {
    background-color: var(--coral);
}

.submenu a {
    display: block;
    padding: 5px;
}

/*banner*/
.banner {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*introduction*/
.subtitle {
    font-family: var(--font-base);
    font-size: 16px;
    font-weight: bold;
    color: var(--coral);
}

.title {
    font-family: var(--font-heading);
    font-size: 48px;
    font-weight: bold;
    color: var(--text-dark);
}

.intro-text {
    font-family: var(--font-base);
    font-size: 22px;
    font-weight: 500;
    color: var(--text-dark);
}

.content-text {
    font-family: var(--font-base);
    font-size: 18px;
    font-weight: normal;
    color: var(--text-dark);
}

/*footer*/
.footer {
    background-color: var(--darkblue);
    color: var(--text-light);
    padding-top: 80px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerinfo {
    display: flex;
    align-items: center;
}

.footerlogo {
    margin-right: 110px;
    margin-left: 100px;
}

.footerlogomobile {
    display: none;
}

.footerlogo img {
    width: 240px;
    height: 240px;
}

.navigation {
    display: flex;
    gap: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-menu div {
    padding-bottom: 15px;
    padding-right: 10px;
}

.footer-menu a {
    font-family: var(--font-base);
    font-size: 16px;
    font-weight: normal;
    color: var(--text-light);
}

.footer-menu :hover {
    color: var(--coral);
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-right: 80px;
}

.contact-info h5 {
    margin-bottom: 15px;
    color: var(--text-light);
}

.info {
    display: flex;
    align-items: top;
    gap: 15px;
    margin: 8px 0px;
    width: 320px;
}

.info p {
    font-family: var(--font-base);
    font-size: 16px;
    font-weight: normal;
    color: var(--text-light);
}

.social {
    display: flex;
    gap: 15px;
    padding-left: 15px;
    margin-top: 15px;
}

.copyright {
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: var(--font-base);
    font-size: 14px;
    font-weight: normal;
    border-top: 1px solid var(--text-light);
    padding: 30px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 1080px) {

    /*banner*/
    .banner {
        width: 100%;
        height: 80vh;
    }

    /*footer*/
    .footerlogo {
        margin-left: 40px;
        margin-right: 50px;
    }

    .footerlogo img {
        width: 180px;
        height: 180px;
    }

    .contact-info {
        margin-right: 40px;
        margin-bottom: 20px;
    }

    .info {
        gap: 15px;
        margin: 5px;
        width: 280px;
    }

    .copyright {
        margin-top: 40px;
    }
}

@media screen and (max-width: 786px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 30px;
    }

    /*header*/
    .headerinfo {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;

    }

    .menu-toggle {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: var(--bg-light);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 90%;
        padding-top: 5rem;
        text-align: center;
        z-index: 1000;
    }

    .menu a {
        color: #151B2B;
    }

    .submenu a {
        color: #151B2B;
    }

    .menu.active {
        display: flex;
    }

    .menu-item {
        margin: 1.5rem 0;
    }

    .menu-item a {
        font-size: 1.5rem;
    }

    .banner {
        width: 100%;
        height: 50vh;
    }

    .title {
        font-size: 36px;
    }

    /*footer*/
    .footer {
        padding-top: 50px;
    }

    .footerlogo {
        display: none;
    }

    .footerinfo {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        align-items: center;
    }

    .navigation {
        display: flex;
        gap: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 0px;
    }

    .footer-menu div {
        padding-bottom: 10px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .info {
        display: flex;
        align-items: top;
        gap: 15px;
        margin: 0px;
        width: 240px;
    }

    .info p {
        font-size: 14px;
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        padding: 0px;
        border: none;
    }

    .footerlogomobile {
        display: block;
    }

    .mobile {
        border-top: 1px solid var(--text-light);
        margin-top: 10px;
        padding-top: 20px;
        display: flex;
        align-items: center;
    }

    .footerlogomobile img {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {

    /*banner*/
    .banner {
        width: 100%;
        height: 30vh;
    }

    h1 {
        font-size: 36px;
    }

    /*footer*/
    .footerinfo {
        padding-left: 10px;
        padding-right: 20px;
    }

    .contact-info {
        margin-right: 20px;
        margin-bottom: 15px;
    }

    .info {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 0px;
        width: 200px;
    }
}