/* colors*/
.white {
    color: #ffffff;
}

.yellow {
    color: #FFF9F3;
}

.coral {
    color: #FF6F61;
}

.lightblue {
    color: #C2E2FA;
}

.darkblue {
    color: #151B2B;
}

.gray {
    color: #616161;
}

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Lugrasimo&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quintessential&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Lugrasimo&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quintessential&family=Space+Grotesk:wght@300..700&display=swap');

.h1 {
    font-family: 'Amiri', serif;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.5;
}

.h2 {
    font-family: 'Amiri', serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
}

.h3 {
    font-family: 'Amiri', serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
}

.h4 {
    font-family: 'Amiri', serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
}

.h5 {
    font-family: 'Amiri', serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
}

.largemedium {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
}

.normalregular {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
}

.normalbold {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.smallbold {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
}

.smallregular {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
}

/*buttons*/
.small {
    color: #616161;
    background-color: #C2E2FA;
    padding: 8px 15px;
    font-family: 'Amiri', serif;
    font-size: 12px;
    font-weight: bold;
    border: none;
    text-align: center;
    border-radius: 3px;
}

.medium {
    color: #ffffff;
    background-color: #FF6F61;
    padding: 10px 17px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    text-align: center;
    border-radius: 3px;
}

.large {
    color: #ffffff;
    background-color: #FF6F61;
    padding: 19px 60px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    text-align: center;
    border-radius: 10px;
}

/*icons size*/
.smallicon {
    width: 25px;
    height: 25px;
}

.mediumicon {
    width: 30px;
    height: 30px;
}

.largeicon {
    width: 35px;
    height: 35px;
}