body {
    background-color: #FFF9F3;
}

.banner {
    background-image: url(../image/contactbanner.jpg);
    background-size: cover;
}

.title h1 {
    margin: 0px;
    padding: 0px;
}

/*contact information*/
.content-container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
}

/*content*/
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.content>div {
    width: 50%;
}

.information p:nth-of-type(2) {
    width: 80%;
}

.catimage img {
    width: 100%;
}

.infotext p {
    max-width: 500px;
}

.infotext {
    display: flex;
    margin: 20px 0px;
    gap: 15px;
    width: 100%;
}

.infotext div {
    width: 90%;
}


/*forms*/
.form {
    margin: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-color: #C2E2FA;
    padding: 60px 60px 40px 40px;
    border-radius: 5px;
    background-image: url(../image/pawprint.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.form div {
    margin: 8px 0px;
    width: 100%;
}

.form input {
    border-radius: 3px;
    padding: 10px 18px;
}

.input input {
    width: 49%;
}

.input1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input1 input {
    width: 100%;
}

.message textarea {
    width: 100%;
    border-radius: 3px;
    padding: 10px 18px;
    resize: none;
}

@media screen and (max-width: 1080px) {
    .banner {
        width: 100%;
        height: 80vh;
    }

    .infotext p:first-of-type {
        width: 100%;
        max-width: 500px;
    }
}

@media screen and (max-width: 786px) {
    .content div {
        width: 80%;
    }

    .content {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .catimage img {
        width: 80%;
        align-self: center;
    }

    .catimage {
        display: flex;
        justify-content: center;
    }

    .information p:nth-of-type(2) {
        width: 90%;
    }

    .infotext p:first-of-type {
        width: 100%;
        max-width: 500px;
    }

    .form {
        margin: 40px;
        padding: 30px 30px 30px 30px;
    }

    .form div {
        margin: 10px 0px;
        width: 100%;
    }

    .input input {
        width: 100%;
    }

}

@media screen and (max-width: 500px) {
    .banner {
        width: 100%;
        height: 30vh;
    }

    .form {
        margin: 30px;
        padding: 30px 30px 30px 30px;
    }

    .form div {
        margin: 5px 0px;
    }

    .input1 {
        flex-direction: column;
        row-gap: 0px;
    }

    .input1 input {
        flex-direction: column;
        row-gap: 5px;
        width: 100%;
    }
}