.banner {
    background-image: url(../image/contact-banner.jpg);
    background-size: contain;
    width: 100%;
    height: 70vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*contact information*/
.content {
    max-width: 1280px;
    margin: auto;
}

.info div {
    width: 50%;
}

.info {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

.form {
    background-color: #C2E2FA;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1080px) {}

@media screen and (max-width: 786px) {}

@media screen and (max-width: 500px) {}