body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #C2E2FA;
    text-align: center;
}

.error-img {
    width: 851px;
    max-width: 80%;
    height: auto;
    display: block;
    margin: 163px auto 20px auto;
}

.error-section p {
    font-family: "Nunito Sans", sans-serif;
    color: #000000;
    font-size: 22px;
    line-height: 1.6;
    max-width: none;
    margin: 5px auto 30px;
    white-space: nowrap;
    overflow: hidden;
}

.search-container {
    width: 100%;
    display: flex;
    border-radius: 10px;
    justify-content: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 710px;
    height: 55px;
    background: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 30px;
}

.search-bar input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 16px;
    background: white;
}

.search-btn {
    width: 55px;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.search-btn img {
    width: 30px;
    height: 30px;
}

.home-btn {
    display: block;
    width: 270px;
    height: 57px;
    line-height: 57px;
    background: #FE6A5D;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    border: 3px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    margin: 40px auto 0 auto;
    margin-bottom: 30px;
}


.home-btn:hover {
    background: #FFF9F3;
    color: #000000;
}

.search-btn:hover {
    background: #f0f0f0;
}