.banner {
    background-image: url(../image/petfoodbanner.jpg);
    background-size: cover;
    background-position: center;
}

.suggestions h2 {
    display: flex;
    justify-content: center;
    padding-top: 115px;
}

.input {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 284px;
}

.input-top {
    display: flex;
    padding-left: 102px;
    padding-right: 102px;
    padding-bottom: 40px;
    justify-content: space-between;
    align-items: flex-end;
}

.input img {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    right: 12px;
    mix-blend-mode: multiply;
}

.input .arrowicon {
    width: 24px;
    height: 24px;
}

.input input {
    width: 100%;
    height: 55px;
    padding: 0 50px 0 16px;
    box-sizing: border-box;
    border-radius: 10px;
    border-style: none;
    background-color: var(--lightblue);
}

.input-right {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.sort {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 284px;
}

.sort img {
    position: absolute;
    width: 24px;
    height: 24px;
    cursor: pointer;
    right: 12px;
    mix-blend-mode: multiply;
}

.sort input {
    width: 100%;
    height: 55px;
    padding: 0 50px 0 16px;
    box-sizing: border-box;
    border-radius: 10px;
    border-style: none;
    background-color: var(--lightblue);
}

.largeregular {
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}

.searchboxmobile {
    display: none;
}

/*Suggestions Section*/
.catfoods {
    display: flex;
    justify-content: center;
    gap: 82px;
    padding-top: 15px;
    padding-bottom: 115px;
}

.catfoods h4 {
    padding-top: 29px;
    text-align: center;
    color: var(--coral);
}

.catfoods h5 {
    padding-top: 25px;
    text-align: center;
    color: var(--darkblue);
}

.catfoods img {
    max-width: 341px;
    max-height: 341px;
    width: 100%;
    height: auto;
    mix-blend-mode: multiply;
}

/*Options Section*/
.products {
    display: flex;
    padding-left: 102px;
    padding-right: 102px;
    gap: 63px;
}

.food-selection {
    padding-top: 33px;
    padding-bottom: 33px;
}

.food-selection p {
    margin: 18px 0px;
}

.priceline {
    width: 65%;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 19px;
    padding-top: 33px;
    padding-bottom: 74px;
}

.filter button {
    width: 121px;
    height: 37px;
}

.filter p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tags {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 16px;
    max-width: 33%;
    padding-bottom: 74px;
}

.tagspara {
    padding-top: 11px;
}

.tags a {
    min-width: 66px;
    height: 29px;
    padding-left: 5px;
    padding-right: 5px;
}

.cartpara {
    padding-bottom: 21px;
}

.cart {
    padding-left: 60px;
}

.categories {
    width: 284px;
}

/*Food Products Section*/
.foodproducts {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 55px 23px;
    padding-bottom: 115px;
    margin-left: auto;
}

.petfood {
    text-align: center;
}

.petfood h5 {
    color: var(--coral);
}

.petfood img {
    mix-blend-mode: multiply;
    width: 100%;
    height: auto;
    max-width: 281px;
    max-height: 264px;
}

/*QNA*/
.qna {
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 91px;
}

.qna .qnaheader {
    padding-bottom: 37px;
    color: var(--coral);
}

.qna .questions {
    padding-bottom: 50px;
}

@media screen and (max-width: 1080px) {
    .foodproducts {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .products {
        gap: 40px;
        padding-left: 62px;
        padding-right: 62px;
    }

    .input {
        display: none;
    }

    .searchboxmobile {
        display: block;
        display: flex;
        gap: 5px;
    }

    .searchboxmobile .searchicon {
        position: static;
        width: 40px;
        height: 40px;
    }

    .searchboxmobile .filter-toggle {
        display: none;
    }
}

@media screen and (max-width: 786px) {
    .products {
        padding-left: 30px;
        padding-right: 30px;
    }

    .categories {
        display: none;
    }

    .foodproducts {
        width: 100%;
    }

    .searchboxmobile .filter-toggle {
        display: block;
    }

    .filter-toggle img {
        width: 30px;
    }
}

@media screen and (max-width: 500px) {
    .petfood h5 {
        font-size: 20px;
    }

    .petfood .normalbold {
        font-size: 12px;
    }
}