 @import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

 /*general */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /* header general*/
 .backtotop {
     position: fixed;
     bottom: 0;
     right: 0;
     margin-bottom: 30px;
     margin-right: 100px;
 }

 html {
     scroll-behavior: smooth;
 }

 .headercolour {
     background-color: #AB141C;
     margin: 0;
     padding: 0;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 1000;
 }

 .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 1280px;
     margin: auto;
     padding: 20px 30px;
 }

 .menu {
     display: flex;
     width: 100%;
     gap: 100px;
 }

 .menu a {
     color: #FFCE48;
     text-decoration: none;
 }




 /*footer general*/
 .footercolour {
     background-color: #AB141C;
     margin: 0;
     padding: 30px 30px;
 }

 .footer {
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 1280px;
     margin: auto;
     color: #FFCE48;
 }

 .footermenu {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap: 100px;
     margin-bottom: 20px;
     padding: 20px 40px;
     border-bottom: #FFCE48 1px solid;
 }

 .footermenu a {
     color: #FFCE48;
     text-decoration: none;
 }