.headline {
    background-image: url(../image/landingbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
}

.headline-info {
    display: flex;
    flex-direction: column;
    padding: 56px 65px;
    background-color: rgba(34, 39, 53, 0.5);
    border-radius: 10px;
    width: 732px;
    height: 382px;
    margin-left: 40px;
    margin-top: 72px;
    margin-bottom: 74px;
    gap: 5px;
}

.headline .mediumbtn {
    width: 121px;
    margin-top: auto;
}

.headline h5 {
    color: var(--coral);
}

.headline h2 {
    color: var(--text-light);
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 54px;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: 52px;
    min-height: 245px;
}

.categories img {
    width: 30%;
}

.categories .servicedescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42%;
}

.categories .service {
    display: flex;
    align-items: center;
    gap: 29px;
    width: calc(33.33% - 36px);
    justify-content: center;
    background-color: var(--lightblue);
    border-radius: var(--radius);
}

.servicedescription h5 {
    color: var(--coral);
}

.perkssection {
    display: flex;
    margin-bottom: 115px;
    width: 100%;
}

.perkssection-image {
    flex: 0 0 50%;
    background-image: url(../image/perks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.perktext {
    display: flex;
    flex-direction: column;
    background-color: var(--lightblue);
    padding-left: 94px;
    padding-right: 94px;
    padding-top: 75px;
    padding-bottom: 159px;
    width: 100%;
    gap: 24px;
    flex: 1;
}

.perktext p.normalbold {
    color: var(--coral);
}

.perktext p.largeregular {
    color: var(--coral);
}

ul.largeregular {
    font-size: 18px;
    font-weight: normal;
    font-family: var(--font-base);
    line-height: 1.5;
    padding-left: 20px;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 115px;
}

.featuretext {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px;
    gap: 10px;
}

.featuretext p.subtitle {
    color: var(--coral);
}

.featureimage {
    width: 85%;
}

.paginationimage {
    width: 6%;
    margin-top: 30px;
}

.highlight {
    color: var(--coral);
}

.reviews {
    background-image: url(../image/reviewbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-bottom: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 31px;
    gap: 10px;
}

.reviewtext h2 {
    color: var(--text-light);
}

.reviewbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--bg-light);
    width: 80%;
    min-height: 443px;
    border-radius: var(--radius);
}

.reviewprof {
    width: 165px;
    margin-top: 56px;
}

.reviewbox p.largeregular {
    width: 42%;
    margin-top: 10px;
    margin-bottom: 15px;
    color: var(--text-dark);
}

.reviewbox h5 {
    color: var(--coral);
}

.arrows img {
    width: 64px;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px;
}

@media screen and (max-width: 1080px) {

    .headline {
        height: auto;
    }

    .headline-info {
        width: 100%;
        height: auto;
        margin: 40px;
        padding: 40px;
    }

    .headline h5 {
        font-size: 20px;
    }

    .headline h2 {
        font-size: 40px;
    }

    .headline .mediumbtn {
        margin-top: 20px;
    }

    .categories {
        flex-direction: column;
        align-items: stretch;
        gap: 24px;

    }

    .categories .service {
        width: 100%;
        padding: 30px;
    }

    .categories img {
        width: 120px;
    }

    .categories .servicedescription {
        width: 100%;
    }

    .perkssection {
        margin-bottom: 100px;
    }

    .perktext {
        padding: 30px;
        gap: 10px;
    }

    .perktext .normalbold {
        font-size: 14px;
    }

    .perktext h3 {
        font-size: 28px;
    }

    .perktext .largeregular {
        font-size: 16px;
    }

    .features {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 100px;
    }

    .featureimage {
        width: 100%;
    }

    .featuretext {
        margin-bottom: 20px;
        gap: 8px;
    }

    .featuretext .title {
        font-size: 36px;
    }

    .paginationimage {
        width: 10%;
        margin-top: 20px;
    }

    .reviews {
        padding-bottom: 40px;
    }

    .reviewtext {
        padding-top: 32px;
        padding-bottom: 20px;
        gap: 8px;
    }

    .reviewtext h2 {
        font-size: 36px;
    }

    .reviewbox {
        width: 90%;
    }

    .reviewprof {
        width: 140px;
        margin-top: 40px;
    }

    .reviewbox p.largeregular {
        width: 60%;
        margin-top: 12px;
        margin-bottom: 18px;
    }

    .arrows {
        padding: 0 16px;
    }

    .arrows img {
        width: 52px;
    }
}

@media screen and (max-width: 786px) {

    .headline-info {
        margin: 25px;
    }

    .headline h5 {
        font-size: 16px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .headline .mediumbtn {
        width: 90px;
    }

    .categories {
        margin: 52px 25px;
        gap: 16px;
    }

    .categories .service {
        flex-direction: column;
        gap: 15px;
    }

    .categories .servicedescription {
        text-align: center;
    }

    .perkssection {
        flex-direction: column;
        margin-bottom: 95px;
    }

    .perkssection-image {
        min-height: 450px;
    }

    .perktext {
        padding-left: 54px;
        padding-right: 54px;
        padding-top: 45px;
        padding-bottom: 100px;
        min-height: auto;
        flex: 1;
        width: 100%;
    }

    .featureimage {
        width: 100%;
    }

    .featuretext {
        text-align: center;
    }

    .featuretext .title {
        font-size: 28px;
    }

    .reviewbox {
        width: 95%;
        min-height: auto;
        padding-bottom: 10px;
    }

    .reviewbox p.largeregular {
        font-size: 14px;
    }

    .reviewbox h5 {
        font-size: 20px;
    }

    .reviewprof {
        width: 120px;
        margin-top: 32px;
    }

    .reviewtext h2 {
        font-size: 28px;
    }

    .subtitle {
        font-size: 14px;
    }

    .arrows img {
        width: 45px;
    }
}

@media screen and (max-width: 500px) {
    .headline-info {
        margin: 16px;
    }

    .headline h5 {
        font-size: 14px;
    }

    .headline h2 {
        font-size: 26px;
    }

    .headline .mediumbtn {
        padding: 8px 15px;
        font-size: 12px;
        text-align: center;
    }

    .categories {
        margin: 40px 16px;
        gap: 12px;
    }

    .categories .service {
        padding: 18px;
        min-height: 225px;
    }

    .categories .servicedescription {
        width: 85%;
    }

    .categories img {
        width: 70px;
    }

    .perkssection {
        margin-bottom: 60px;
    }

    .perkssection-image {
        min-height: 300px;
    }

    .perktext {
        padding: 44px 35px;
    }

    .perktext .normalbold {
        font-size: 12px;
    }

    .perktext h3 {
        font-size: 24px;
    }

    .perktext .largeregular {
        font-size: 14px;
    }

    .features {
        margin-bottom: 60px;
    }

    .featuretext {
        margin-bottom: 12px;
    }

    .featuretext .title {
        font-size: 22px;
    }

    .subtitle {
        font-size: 10px;
    }

    .featureimage {
        width: 100%;
    }

    .reviews {
        padding-bottom: 28px;
    }

    .reviewtext {
        padding-top: 24px;
        padding-bottom: 12px;
        gap: 6px;
    }

    .reviewtext h2 {
        font-size: 22px;
    }

    .reviewbox h5 {
        font-size: 18px;
    }

    .reviewbox {
        width: 96%;
        min-height: auto;
        padding: 16px 0;
    }

    .reviewprof {
        width: 100px;
        margin-top: 10px;
    }

    .reviewbox p.largeregular {
        width: 90%;
        font-size: 13px;
        margin-top: 5px;
    }

    .arrows {
        padding: 0 12px;
        margin-top: 10px;
        position: relative;
        bottom: 60px;
    }

    .arrows img {
        width: 38px;
    }
}