.head {
    background-image: url(../image/location.png);
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.head h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.subhead {
    padding-top: 75px;
    padding-bottom: 50px;
    gap: 20px;
}

.subhead p {
    margin: 20px;
    font-size: 16px;
    color: rgb(255, 111, 97);
    text-align: center;
}

.subhead h2 {
    margin: 20px;
    font-size: 48px;
    text-align: center;
}

.subhead h6 {
    margin: 20px;
    font-size: 22px;
    text-align: center;
}

.top {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    padding-bottom: 65px;
    gap: 67px;
}

.mid {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    padding-bottom: 65px;
    gap: 67px;
}

.bot {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    padding-bottom: 65px;
    gap: 67px;
}

.row1,
.row2,
.row3 {
    display: flex;
}

.icon {
    width: 50px;
    height: 50px;
}

.top h3 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 111, 97);
    text-align: center;
}

.top p {
    font-size: 18px;
    margin: 10px;
}

.top div {
    background-color: rgb(194, 226, 250);
    border-radius: 20px;
    width: 95%;
    margin: 10px;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.mid h3 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 111, 97);
    text-align: center;
}

.mid p {
    font-size: 18px;
    margin: 10px;
}

.mid div {
    background-color: rgb(194, 226, 250);
    border-radius: 20px;
    width: 95%;
    margin: 10px;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.bot h3 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 111, 97);
    text-align: center;
}

.bot p {
    font-size: 18px;
    margin: 10px;
}

.bot div {
    background-color: rgb(194, 226, 250);
    border-radius: 20px;
    width: 95%;
    margin: 10px;
    padding: 20px;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 1100px) {
    .top {
        flex-direction: column;
        align-items: center;
    }

    .mid {
        flex-direction: column;
        align-items: center;
    }

    .bot {
        flex-direction: column;
        align-items: center;
    }

    .top div {
        width: 90%;
    }

    .mid div {
        width: 90%;
    }

    .bot div {
        width: 90%;
    }
}