.banner {
    background-image: url(../image/location.png);
    background-size: cover;
    background-position: center;
}

.main-title h1 {
    margin: 0px;
    padding: 0px;
    color: var(--text-light)
}

.subhead {
    padding-top: 75px;
    padding-bottom: 50px;
    gap: 20px;
}

.subhead p.normalbold {
    text-align: center;
    color: var(--coral);
}

.subhead h2 {
    margin: 20px;
    text-align: center;
    color: var(--darkblue);
}

.subhead p {
    margin: 20px;
    text-align: center;
    color: var(--darkblue);
}

.top {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    padding-bottom: 65px;
    gap: 67px;
}

.mid {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    padding-bottom: 65px;
    gap: 67px;
}

.bot {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    padding-bottom: 65px;
    gap: 67px;
}

.row1,
.row2,
.row3 {
    display: flex;
}

.top h3 {
    text-align: center;
    padding-top: 39px;
    color: var(--coral);
}

.top p {
    padding-left: 22px;
    color: var(--darkblue);
}

.top div {
    background-color: var(--lightblue);
    border-radius: 20px;
    width: 95%;
    margin: 10px;
    padding: 20px;
}

.mid h3 {
    text-align: center;
    padding-top: 39px;
    color: var(--coral);
}

.mid p {
    padding-left: 22px;
    color: var(--darkblue);
}

.mid div {
    background-color: var(--lightblue);
    border-radius: 20px;
    width: 95%;
    margin: 10px;
    padding: 20px;
}

.bot h3 {
    text-align: center;
    padding-top: 39px;
    color: var(--coral);
}

.bot p {
    padding-left: 22px;
    color: var(--darkblue);
}

.bot div {
    background-color: var(--lightblue);
    border-radius: 20px;
    width: 95%;
    margin: 10px;
    padding: 20px;
}

@media screen and (max-width: 1080px) {
    .top {
        gap: 10px;
        width: 95%;
    }

    .mid {
        gap: 10px;
        width: 95%;
    }

    .bot {
        gap: 10px;
        width: 95%;
    }
}

@media screen and (max-width: 786px) {
    .top {
        flex-direction: column;
        align-items: center;
    }

    .mid {
        flex-direction: column;
        align-items: center;
    }

    .bot {
        flex-direction: column;
        align-items: center;
    }

    .top div {
        width: 90%;
    }

    .mid div {
        width: 90%;
    }

    .bot div {
        width: 90%;
    }
}