.banner {
    background-image: url(../image/ourteam.jpg);
    background-size: cover;
    background-position: center;
}

body {
    background-image: url(../image/Vector\ 2.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: left;
}

.title h1 {
    margin: 0px;
    padding: 0px;
}

.subhead {
    display: flex;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 115px;
    gap: 20px;
}

.subhead img {
    width: 100%;
}

.subhead p {
    color: var(--coral);
}

.subhead p.normalregular {
    color: var(--darkblue);
}

.subtext {
    padding-top: 112px;
    padding-bottom: 70px;
    line-height: 150%;
}

.subtext p {
    margin-left: 44px;
}

.subtext h2 {
    margin-left: 44px;
}

.ours {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 110px;
}


.subtext2 {
    max-width: 585px;
    line-height: 150%;
}

.ourteam {
    text-align: center;
    padding-bottom: 44px;
}

.ourteamtext p.normalbold {
    margin-top: 24px;
    color: var(--coral);
}

.ourteam h2 {
    color: var(--darkblue);
}

.ourteam p.largemedium {
    margin-top: 30px;
    margin-bottom: 35px;
    color: var(--darkblue);
}


.teams {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.portrait {
    text-align: center;
}

.portrait img {
    width: 82%;
    border-radius: 20px;
}

.infomem {
    position: relative;
    bottom: 80px;
    background-color: var(--bg-light);
    width: 70%;
    padding: 10px 40px 30px 40px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid var(--darkblue);
    margin-left: 60px;
}


.infomem h5 {
    margin-bottom: 6px;
    color: var(--darkblue);
}

.infomem p {
    color: var(--coral);
}

.values {
    background: var(--text-light);
    border: 2px solid var(--coral);
    border-radius: 20px;
    padding: 30px;
    max-width: 1150px;
    height: 298px;
    margin-left: 160px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 114px;
}

.values img {
    width: 100%;
    margin-left: -82px;
    margin-top: -30px;
}

.valueslargeregular {
    margin-left: -29px;

}

.values h2 {
    color: var(--coral);
    margin-bottom: 20px;
    margin-left: -150px;
}

.quote-box li {
    font-family: var(--font-base);
    line-height: 1.5;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 6px;
    margin-right: 20px;
}

.quote-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}


.quote-box img {
    position: relative;
    margin-top: 150px;
    width: 60%;
    margin-left: 50px;
    margin-bottom: -40px;
}

.quote-box h2 {
    margin-top: 150px;
    margin-left: -120px;
    margin-right: 160px;
    margin-bottom: 20px;
}

@media (max-width: 1080px) {
    .subhead {
        flex-direction: column;
        padding: 40px;
    }

    .subtext p,
    .subtext h2 {
        margin-left: 0;
        text-align: center;
    }

    .teams {
        grid-template-columns: repeat(2, 1fr);
    }

    .quote-box {
        flex-direction: column;
    }

    .portrait img {
        width: 72%;

    }



    .infomem {
        position: relative;
        bottom: 80px;
        background-color: var(--bg-light);
        text-align: center;
        width: 80%;
        padding: 10px 40px 30px 40px;
        border-radius: 5px;
        border: 2px solid var(--darkblue);
    }

    body {
        background-image: url(../image/Vector\ 2.png);
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: left;
    }

    .values {
        flex-direction: column;
        border-radius: 20px;
        padding: 30px;
        max-width: 1150px;
        height: 510%;
        margin-left: 160px;
        margin-right: 40px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 114px;
    }

    .valueslargeregular {
        margin-left: 29px;

    }

    .ourteamtext {
        flex-direction: column;
        text-align: center;
    }


    .subtext,
    .subtext h2,
    .subtext p {
        text-align: left;
    }

    .values h2,
    .values p {
        text-align: left;
    }

    .quote-box h2,
    .quote-box ul {
        text-align: left;
        padding-left: 20px;
    }
}




@media (max-width: 786px) {
    .teams {
        grid-template-columns: 1fr 1fr;
    }

    .subhead img {
        margin-left: auto;
        margin-right: auto;
        width: 98%;
    }

    .subhead {
        padding: 20px;
    }

    .values {
        margin: 20px;
        padding: 20px;
    }

    .values img {
        width: 70%;
        margin-left: -82px;
        margin-top: -30px;
    }

    .quote-box {
        margin: 20px;
    }
}

@media (max-width: 500px) {
    .teams {
        grid-template-columns: 1fr;
    }

    .subhead {
        padding: 10px;
    }

    .values {
        margin: 10px;
        padding: 15px;
    }

    .values img {
        width: 80%;
        margin: 0 auto;
    }

    .portrait img {
        width: 60%;
        border-radius: 20px;
    }

    .infomem {
        width: 40%;
        padding: 20px;
        border-radius: 5px;
        margin-left: 125px;
        border: 2px solid var(--darkblue);
    }

    .quote-box {
        margin: 10px;
        gap: 20px;
    }

    .quote-box h2 {
        font-size: 20px;
        text-align: center;
    }

    .quote-box li {
        font-size: 14px;
    }

    .quote-box img {
        margin-top: 150px;
        width: 80%;
        margin-left: 60px;
    }

    .infomem h5 {
        margin-bottom: 6px;
        color: var(--darkblue);
    }

    .quote-box,
    .quote-box li {
        text-align: left;
        margin-left: 30px;
    }

    .quote-box h2 {
        margin-left: 30px;
    }

}