body {
    background-color: #FFF9F3;
}

.banner {
    background-image: url(../image/ourteam.jpg);
    background-size: cover;
    background-position: center;
}

.title h1 {
    margin: 0px;
    padding: 0px;
}

.subhead {
    display: flex;
    padding-top: 80px;
    padding-bottom: 85px;
    padding-left: 50px;
    padding-right: 115px;
    gap: 20px;
}

.subhead img {
    margin-left: auto;
    margin-right: auto;
    max-width: 612px;
    height: 408px;
}