.banner {
    background-image: url(../image/ourteam.jpg);
    background-size: cover;
    background-position: center;
}

body {
    background-image: url(../image/Vector\ 2.png);
    background-repeat: no-repeat;
    background-size: 94%;
    background-position: left;
}

.title h1 {
    margin: 0px;
    padding: 0px;
}

.subhead {
    display: flex;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 115px;
    gap: 20px;
}

.subhead img {
    margin-left: auto;
    margin-right: auto;
    max-width: 612px;
    height: 408px;
}

.subhead p {
    color: var(--coral);
}

.subhead p.normalregular {
    color: var(--darkblue);
}

.subtext {
    padding-top: 112px;
    padding-bottom: 70px;
    line-height: 150%;
}

.subtext p {
    margin-left: 44px;
}

.subtext h2 {
    margin-left: 44px;
}

.ours {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 110px;
}


.subtext2 {
    max-width: 585px;
    line-height: 150%;
}

.ourteam {
    text-align: center;
    padding-bottom: 44px;
}

.ourteamtext p.normalbold {
    margin-top: 24px;
    color: var(--coral)
}

.ourteam h2 {
    color: var(--darkblue);
}

.ourteam p.largeregular {
    margin-top: 30px;
    margin-bottom: 35px;
    color: var(--darkblue);
}

.teams {
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 29px;
}

.teams img {
    width: 100%;
    border-radius: 20px;
}

.teams p.normalbold {
    color: var(--coral);

}

.teams .infojn {
    position: relative;
    left: 30px;
    bottom: 80px;
    background-color: var(--bg-light);
    text-align: center;
    width: 80%;
    padding: 10px 40px 30px 40px;
    border-radius: 5px;
    border: 2px solid var(--darkblue);
}

.teams .infoyh {
    position: relative;
    left: 30px;
    bottom: 80px;
    background-color: var(--bg-light);
    text-align: center;
    width: 80%;
    padding: 10px 40px 30px 40px;
    border-radius: 5px;
    border: 2px solid var(--darkblue);
}

.teams .infobl {
    position: relative;
    left: 30px;
    bottom: 80px;
    background-color: var(--bg-light);
    text-align: center;
    width: 80%;
    padding: 10px 40px 30px 40px;
    border-radius: 5px;
    border: 2px solid var(--darkblue);
}

.teams .infomq {
    position: relative;
    left: 30px;
    bottom: 80px;
    background-color: var(--bg-light);
    text-align: center;
    width: 80%;
    padding: 10px 40px 30px 40px;
    border-radius: 5px;
    border: 2px solid var(--darkblue);
}

.values {
    background: var(--text-light);
    border: 2px solid var(--coral);
    border-radius: 20px;
    padding: 30px;
    max-width: 1150px;
    height: 298px;
    margin-left: 160px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 114px;
}

.values img {
    width: 100%auto;
    margin-left: -82px;
    margin-top: -30px;
}

.values h2 {
    color: var(--coral);
    margin-bottom: 20px;
    margin-left: -150px;
}

.quote-box li {
    font-family: var(--font-base);
    line-height: 1.5;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 6px;
    margin-left: -150px;
    margin-right: 50px;
}

.quote-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}



.quote-box img {
    margin-top: 150px;
    width: 700px;
    height: 600px;
    margin-bottom: -38px;
    margin-left: 60px;
}

.quote-box h2 {
    margin-top: 150px;
    margin-left: -120px;
    margin-right: 160px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1080px) {
    .subhead {
        flex-direction: column;
        padding: 40px;
        text-align: center;
    }

    .subtext {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .subhead2 {
        flex-direction: column;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 80px;
        gap: 20px;
    }

    .ourteam {
        width: 85%;
        margin: auto;
    }

    .teams .infojn {
        width: 80%;
        left: 50px;
    }

    .teams .infoyh {
        width: 80%;
    }

    .teams .infobl {
        width: 80%;
    }

    .teams .infomq {
        width: 80%;
    }

    .teams {
        flex-wrap: wrap;
        gap: 20px;
    }

    .values {
        width: 90%;
        margin: 40px auto;
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .values img {
        width: 70%;
        margin: 0 auto 20px auto;
    }

    .values h2,
    .values p.largeregular {
        margin: 0;
    }

    .quote-box {
        flex-direction: column;
        margin: 20px;
        text-align: center;
    }

    .quote-box img {
        width: 80%;
        height: auto;
        margin: 20px auto;
    }

    .quote-box h2,
    {
    margin: 20px auto;
}

.teams {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

.quote-box li {
    margin-left: 40px;
    margin-right: 50px;
}

.ours h3,
.subtext h2,
.subtext p,
.subtext2,
.ourteam h2,
.ourteam p,
.values h2,
.values p,
.quote-box h2,
p.largeregular {
    text-align: left;
}

.p.largeregular,
li {
    margin-bottom: 6px;
    margin-left: 50px;
    margin-right: 50px;
}

.quote-box h2 {
    margin-left: 20px;
}


@media screen and (max-width: 786px) {
    .subhead {
        flex-direction: column;
        padding: 20px;
    }

    body {
        background-image: url(../image/Vector\ 2.png);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: left;
    }

    .subhead img {
        width: 100%;
        height: auto;
    }

    .teams {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }


    .values {
        width: 95%;
        padding: 20px;
    }

    .values img {
        width: 100%;
        height: auto;
    }

    .quote-box img {
        width: 100%;
        height: auto;
    }
}


@media screen and (max-width: 500px) {
    body {
        background-image: url(../image/Vector\ 2.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
    }

    .subhead {
        flex-direction: column;
        padding: 10px;
    }

    .subhead img {
        width: 90%;
        height: auto;
    }

    .subtext {
        padding: 20px;
        text-align: left;
    }

    .ours h3,
    .subtext h2,
    .subtext p,
    .subtext2,
    .ourteam h2,
    .ourteam p,
    .values h2,
    .values p,
    .p.largeregular {
        text-align: left;
    }

    .quote-box h2 {
        margin-top: -40px;
        margin-left: 20px;
    }
}

.teams {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.ourteamtext {
    padding-left: 50px;
    padding-right: 50px;
}

.teams img {
    width: 60%;
    height: auto;
    margin-left: 80px;
    margin-right: 80px;

}

.teams .infojn {
    position: relative;
    left: 100px;
    bottom: 80px;
    background-color: var(--bg-light);
    text-align: center;
    width: 200px;
    padding: 10px 30px 20px 30px;
    border-radius: 5px;
    border: 2px solid var(--darkblue);
}

.teams .infoyh {
    position: relative;
    left: 100px;
    bottom: 80px;
    background-color: var(--bg-light);
    text-align: center;
    width: 200px;
    padding: 10px 30px 20px 30px;
    border-radius: 5px;
    border: 2px solid var(--darkblue);
}

.teams .infobl {
    position: relative;
    left: 100px;
    bottom: 80px;
    background-color: var(--bg-light);
    text-align: center;
    width: 200px;
    padding: 10px 30px 20px 30px;
    border-radius: 5px;
    border: 2px solid var(--darkblue);
}

.teams .infomq {
    position: relative;
    left: 100px;
    bottom: 80px;
    background-color: var(--bg-light);
    text-align: center;
    width: 200px;
    padding: 10px 30px 20px 30px;
    border-radius: 5px;
    border: 2px solid var(--darkblue);
}

.p.largeregular,
li {
    margin-bottom: 6px;
    margin-left: 20px;
    margin-right: 50px;
}
}